################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Marketplace/FileContentIndex/d6312b29-182f-4ff1-840f-c2b725bb331f.vsidx
